body {
  background-color: rgb(50, 181, 186);
  display: flex;
  justify-content: center;

}

.message-board {
  background-color: rgb(169, 149, 205);
  color: #FFF;
//   height: 200px;
//   width: 200px;
}

.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;

}

.square {
  display: flex;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
