// @font-face {
//     // font-family: 'Montserrat';
//     // src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@400;700&display=swap');
// }

@font-face {
    font-family: 'Asterone';
    src: url();
}


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(/images/background-image.png);
    background-repeat: cover, no-repeat;
    color: white;
}



.gameboard {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 620px;
    height: 620px;
    position: absolute;
    left: calc(50% - 620px/2);
    top: 202px;

    .col1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        width: 200px;
        height: 620px;

        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
    }
    .col2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        width: 200px;
        height: 620px;

        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
    }
    .col3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

        width: 200px;
        height: 620px;

        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
    }


    .square {
        height: 200px;
        width: 200px;
        border: 1px solid rgb(255, 255, 255);

        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        width: 200px;
        height: 200px;

        background: linear-gradient(148.19deg, rgba(255, 255, 255, 0.4) 11.64%, rgba(255, 255, 255, 0.1) 79.15%);
        backdrop-filter: blur(20px);
        // /* Note: backdrop-filter has minimal browser support */
        border-radius: 40px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .frost {
        width: 200px;
        height: 200px;

        background: url(/images/frost.png);
        background-blend-mode: overlay;
        opacity: 10%;
        border-radius: 40px;

        flex: none;
        order: 0;
        flex-grow: 0;
        z-index: 0;
    }
}


//Replay button
.endgame {
    display: none;
    color: rgb(255, 0, 0);
    background-color: red;
}